*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.wrapper{
    background-color: white;
    width: 375px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: center;
}
.logo img{
    margin-top: 25px;
    margin-left: 32px;
} 
section{
    margin-top: 77px;
}
section img{  
    margin-left: 46px;
    width: 290px;
    height: 311px;
}
.textarea{
    text-align: center;
    padding: 40px;
}
.textarea h1{
    display: inline;
    font-size: 39px;
    color: #000000;
    font-weight: bold;
    font-family: "Helvetica Neue";
}
.textarea h2{
    font-size: 17px;
    line-height: 26px;
    color: #818593;
    font-weight: 500;
    font-family: "Helvetica Neue";
}

.buttons .btn1{
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Helvetica Neue";
    margin-left: 32px ;
    height: 53px;
    width: 150px;
    border-radius: 35px;
    background-color: #2765D9;
}

.buttons .btn2{
    margin-left: 15px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-family: "Helvetica Neue";
    height: 53px;
    width: 150px;
    border-radius: 35px;
}


footer{
    margin-bottom:40px;
    margin-top: 59px;
}

footer h3{
    font-size: 17px;
color: #818593;
font-weight: 500;
font-family: "Helvetica Neue";
margin-left: 116px;

}

.icons {
   margin-left: 95px;
   margin-top: 13px;
  
}
.icons img{
   margin-left: 15px;
   padding: 10px;
   border:2px solid #2F67DB;
   border-radius: 50%;
}


